* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    background: #6563ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.input-group input:focus {
    border-color: #6563ff;
}

/* Campo password */
.password-group span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #6563ff;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #5452e3;
}

.toggle-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.toggle-text span {
    color: #6563ff;
    cursor: pointer;
    font-weight: bold;
}

.toggle-link {
    color: #6563ff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.toggle-link:hover {
    text-decoration: underline;
}

.mensagem {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.mensagem.erro {
    color: #a10000;
    background-color: #ffd6d6;
    border: 1px solid #a10000;
}

.mensagem.sucesso {
    color: #0a7a0a;
    background-color: #d6ffd6;
    border: 1px solid #0a7a0a;
}
